* {
	position: relative;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}

html,

.component {

}


.cn-button {
	background-color: transparent;
	position: absolute;
	top: 60%;
	left: 40%;
	z-index: 11;
	padding-top: 0em;
	width: 2.5em;
	height: 2.5em;
	border: none;
	border-radius: 50%;
	color: transparent;
	text-align: center;
	font-weight: 900;
	font-size: 1.5em;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
}
.cn-button img{
	width: 240px;
	height: 170px;
}

.csstransforms .cn-wrapper {
	top: 25%;
	position: relative;
	width: 45em;
	height: 45em;
	border-radius: 50%;
	background: transparent;
	opacity: 0;
	-webkit-transition: all .3s ease 0.3s;
	-moz-transition: all .3s ease 0.3s;
	transition: all .3s ease 0.3s;
	-webkit-transform: scale(0.1);
	-ms-transform: scale(0.1);
	-moz-transform: scale(0.1);
	transform: scale(0.1);
	pointer-events: none;
	overflow: hidden;
}


/*cover to prevent extra space of anchors from being clickable*/
.csstransforms .cn-wrapper:after{
  content:".";
  display:block;
  font-size:2.5em;
  width:6.2em;
  height:6.2em;
  position: relative;
  left: 50%;
  margin-left: -3.1em;
  top:50%;
  border-radius: 50%;
  z-index:10;
  color: transparent;
}

.csstransforms .opened-nav {
	border-radius: 50%;
	opacity: 1;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	pointer-events: auto;
}

.csstransforms .cn-wrapper li {
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	margin-top: -1.3em;
	margin-left: -10em;
	width: 10em;
	height: 10em;
	font-size: 2.5em;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transform: rotate(76deg) skew(60deg);
	-moz-transform: rotate(76deg) skew(60deg);
	-ms-transform: rotate(76deg) skew(60deg);
	transform: rotate(76deg) skew(60deg);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	pointer-events: none;
}

.csstransforms .cn-wrapper li a {
	position: absolute;
	right: -7.25em;
	bottom: -7.25em;
	display: block;
	width: 14.5em;
	height: 14.5em;
	border-radius: 50%;
	background: white;
	background: radial-gradient(transparent 35%, black 35%);
	opacity: 0.7;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 1.2em;
	line-height: 2;
	transform: skew(-55deg) rotate(-70deg) scale(1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	pointer-events: auto;
}

.csstransforms .cn-wrapper li a span {
	position: relative;
	top: 3em;
	display: block;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
	transform: rotate(25deg) scale(1);
}

.csstransforms .cn-wrapper li a:hover,
.csstransforms .cn-wrapper li a:active,
.csstransforms .cn-wrapper li a:focus {
	background: -webkit-radial-gradient(transparent 35%, #449e6a 35%);
	background: -moz-radial-gradient(transparent 35%, #449e6a 35%);
	background: radial-gradient(transparent 35%, #449e6a 35%);
}
.csstransforms .cn-wrapper li a:focus {
    position: fixed; /* fix the displacement bug in webkit browsers when using tab key */
}

.csstransforms .opened-nav li {
	-webkit-transition: all .3s ease .3s;
	-moz-transition: all .3s ease .3s;
	transition: all .3s ease .3s;
}

.csstransforms .opened-nav li:first-child {
	transform: rotate(-28deg) skew(55deg);
}

.csstransforms .opened-nav li:nth-child(2) {

	transform: rotate(12deg) skew(55deg);
}

.csstransforms .opened-nav  li:nth-child(3) {
	transform: rotate(52deg) skew(55deg);
}

.csstransforms .opened-nav li:nth-child(4) {
	transform: rotate(92deg) skew(55deg);
}

.csstransforms .opened-nav li:nth-child(5) {
	transform: rotate(132deg) skew(55deg);
}

.csstransforms .opened-nav li:nth-child(6) {
	transform: rotate(172deg) skew(55deg);
}



.no-csstransforms .cn-wrapper {
	overflow: hidden;
	margin: 10em auto;
	padding: .5em;
	text-align: center;
}

.no-csstransforms .cn-wrapper ul {
	display: inline-block;
}

.no-csstransforms .cn-wrapper li {
	float: left;
	width: 5em;
	height: 5em;
	background-color: #fff;
	text-align: center;
	font-size: 1em;
	line-height: 5em;
}

.no-csstransforms .cn-wrapper li a {
	display: block;
	width: 100%;
	height: 100%;
	color: inherit;
	text-decoration: none;
}

.no-csstransforms .cn-wrapper li a:hover,
.no-csstransforms .cn-wrapper li a:active,
.no-csstransforms .cn-wrapper li a:focus {
	background-color: #f8f8f8;
}

.no-csstransforms .cn-wrapper li.active a{
	background-color: #6F325C;
	color: #fff;
}

.no-csstransforms .cn-button {
	display: none;
}

@media screen and (max-width : 1500px) {
	.csstransforms .cn-wrapper li{
		font-size: 2.5em;
	}
	.cn-button img{
		width: 200px;
		height: 200px;
	}
	.csstransforms .cn-wrapper {
		padding-top: 30%;
	}
}
@media screen and (min-width : 771px) and (max-width: 1050px){
	.csstransforms .cn-wrapper li{
		font-size: 2em;
	}
	.cn-button img{
		width: 100px;
		height: 100px;
	}

}

@media screen and (min-width : 580px) and (max-width: 770px){
	.csstransforms .cn-wrapper li{
		font-size: 1.4em;
	}
	.cn-button img{
		width: 75px;
		height: 75px;
	}
	.csstransforms .cn-wrapper li a span {
		position: relative;
		top: 1.8em;
		display: block;
		font-size: 8px;
		font-weight: 700;
		text-transform: uppercase;
		color: white;
		transform: rotate(25deg) scale(1);
		padding-left: 10px;
	}
	.csstransforms .cn-wrapper {
		width: 100%;
		top: 17%;
	}

}
@media screen and (max-width: 580px){
	.csstransforms .cn-wrapper li{
		font-size: 1.1em;
	}
	.cn-button img{
		width: 75px;
		height: 65px;


	}
	.csstransforms .cn-wrapper li a span {
		position: relative;
		top: 1.8em;
		display: block;
		font-size: 7px;
		font-weight: 700;
		text-transform: uppercase;
		color: white;
		transform: rotate(25deg) scale(1);
	}
	.csstransforms .cn-wrapper {
		width: 100%;
		top: 10%;
	}
	.cn-button{
		top: 42%;
		padding-right: 1%;
	}
	.cn-button img{
		width: 75px;
	}

    #l1{
        padding-top: 10px;
    }
    #l2{
        padding-left: 10px;
        padding-top: 10px;
    }
    #l3{
        padding-top: 10px;
    }
    #l4{
        padding-top: 10px;
    }
    #l5{
        padding-top: 10px;
		padding-right: 5px;
    }
    #l6{
        padding-right: 10px;
    }
    #l7{
        padding-right: 10px;
    }
	#l8{
		padding-right: 20px;
	}
}

