.navbar{
    height: 80px;
    background-color: transparent;
    position: fixed;
    border-bottom: rgba(60, 66, 69, 0.7) solid 2px;

}
.navbar-brand img{
    height: 60px;
    width: 100px;
}
.nav-item{
    width: 100px;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: black;
    font-size: 18px;
    font-weight: 600;
}


/*************************************************/

a:focus {
    outline: none;
}

.portfolioFilter {
    padding: 15px 18%;
}

.portfolioFilter a {
    margin-right: 0;
    color: #666;
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 4px 15px;
    border-radius: 50px;
    display: inline-block;
}

.portfolioFilter a.current {
    background: #1e1e1e;
    border: 1px solid #1e1e1e;
    color: #f9f9f9;
}
.portfolioContainer{
    border: 1px solid #eee;
    border-radius: 3px;
}
img {
    margin: 5px;
    width:250px;
    height: 250px;
}
.isotope-item {
    z-index: 2;
    padding-bottom: 70px;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}


/*************************************************/


h1{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    color: white;
    width: 50%;
    border: #323232;
    padding: 10px;
    text-align: center;
    background-color: #323232;
    margin-bottom: 28px;
    font-size: 28px;
}
p{
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 18px;
    text-align: center;
}

#text{
    display:none;
}
.btn-container{
    margin: auto;
    height:44px;
    width:166.23px;

}
a:active{
    color:#ffd323;
}

button{
    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    cursor:pointer;
    border:none;
    padding:8px;
    font-size:20px;
    background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color:white;
    font-family:cursive;
    box-sizing:border-box;
}

.dyt img{
    left:70%;
    top: 50%;
    height: 70vh;
    width: 50vw;
}
.dyt h1{
    margin-top: 2%;

}
.text-style p{
    color: red;
    font-size: 14px;
}