@font-face {
    font-family: font;
    src: url("fonts/octin college rg.ttf") format("ttf");
}

body{
    background-color: white;
    /*background-color: rgba(60, 66, 69, 0.7);*/
}
p{
    font-family: font;
}

/*NAVBAR*/
.navbar{
    height: 80px;
    background-color: transparent;
    position: fixed;
    border-bottom: rgba(60, 66, 69, 0.7) solid 2px;
    width: 100%;
}
.navbar-brand{
    margin-left: 0;
}
.navbar-brand img{
    height: 60px;
    width: 100px;
}
.nav-item{
    width: 100px;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.navbar.solid {
    background-color: rgba(50,50,50,0.5);
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px grey;
    border-bottom: none;
}
/* .navbar ul{
    left:10%;
} */


/*******************homepage********************/
.home-page{

    height: 100vh;
    background-size: cover;
    position: relative;
}

#wrapper {
    width: 100%; /* of body width */
}
#wrapper>div {
    display: inline-block;
    width: 100%; /* of wrapper width */

    text-align: left;
}



/*********************about us*******************/
.about-us{
    margin:auto;
    padding-top: 100px;
    background-color: rgba(60, 66, 69, 0.7);


}
.about-us h1{
    border-radius: 25px;
    color: white;
    margin: auto;
    width: 50%;
    border: #323232;
    padding: 10px;
    text-align: center;
    background-color: #323232;
    margin-bottom: 28px;
    font-size: 28px;
}
.about-us p{
    font-family: font;
    color: black;
    text-align: center;
    width: 100%;
    box-shadow: #939598;
    font-size: 18px;

}

#meet-img{
    margin: auto;
}
.team-member, .team-member .team-img {
    position: relative;
    height: 30vh;
}
.team-img img{
    width: 100%;
    height: 100%;
}
.team-member {
    overflow: hidden;
}
.team-member, .team-member .team-img {
    position: relative;
}

.team-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.team-member:hover .team-hover .desk {
    top: 35%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 0 20px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member:hover .team-hover .s-link {
    bottom: 10%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 35px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member .s-link a {
    margin: 0 10px;
    color: #333;
    font-size: 16px;
}
.team-title {
    position: static;
    padding: 20px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
    color: white;
}
.team-title h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
}
.team-title span {
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    display: block;
    text-align: center;
}

/*****************cn-items*********************/
.image-box {
    /* Here's the trick */
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), var(--image-url) center center;

    /* Here's the same styles we applied to our content-div earlier */
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image-box h2{
    font-family: font;
    font-size: 60px;
    position: relative;
    color: white;
    text-align: center;


}
.image-box p{
    font-family: font;
    position: relative;
    text-align: center;
    padding-top: 25px;
    font-size: 24px;
}
.image-box button{
    margin: auto;
    display: block;
}
.image-box button:hover{
    background-color: transparent;
}

.contactus{
    background-color: transparent;
    color: black;
}
.form_container iframe{
    width: 100%;
}
.image-box-2 {
    /* Here's the trick */
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), var(--image-url) center center;

    /* Here's the same styles we applied to our content-div earlier */
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image-box-2 h2{
    font-family: font;
    font-size: 60px;
    position: relative;
    color: white;
    text-align: center;


}
.image-box-2 p{
    font-family: font;
    position: relative;
    text-align: center;
    padding-top: 25px;
    font-size: 24px;
}
.image-box-2 button{
    margin: auto;
    display: block;
}
.image-box-2 button:hover{
    background-color: #449e6a;
}
.btn{
    background-color: #939598;
}

/*Sign-up form*/
#target {
    background:transparent;
    width:100%;
    padding:5px;
    display:none;
}
#target-2{
    background:transparent;
    width:100%;
    padding:5px;
    display:none;
}
#target-3{
    background:transparent;
    width:100%;
    padding:5px;
    display:none;
}
.Hide
{
    display:none;
}
#target-2{
    background:transparent;
    width:100%;
    padding:5px;
    display:none;
}




@media screen and (max-width: 580px){
    body{
        background-color: white;
    }
    .team-title h5 span{
        color: black;
    }
    .team-img{
        width: 70%;
    }
}
